<p id="notice"><%= notice %></p>

<div class="navigational-controls">
  <%= link_to 'Back', translations_path %>
  <span style="display: none">
    <%= link_to 'Edit', edit_translation_path(@translation) %> 
  </span>
</div>

<div class="heading">
  <h1><%= @translation.title %></h1>
  <h2><%= @translation.content_producer.name %></h2>
</div>

<div class="content">
  <p><%= @translation.body %></p>
</div>

<div class="related">
  <%= link_to 'source', @translation.source %>
</div>
